:root {
    --bg: #0d1117;
    --nav: #161b22;
    --button: #21262d;
    --border: #30363d;
    --border-hover: #8b949e;
    --highlight: #2f81f7;
    --text-1: #ecf2f8;
    --text-2: #c6cdd5;
    --text-3: #89929b;
    --success: #238636;
    --success-hover: #2ea043;
    --warning: #faa356;
    --danger: #fa7970;
    --low: #a2d2fb;
    --medium: #77bdfb;
    --high: #cea5fb;
}

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    font-family: sans-serif;
    line-height: 1;
    color: var(--text-1);
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'top top top' 'left main right';
}

input:not(input[type="submit"]) {
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: var(--bg);
    outline: none;
    color: var(--text-1);
    padding: .5em 1em;
}

input:not(input[type="submit"]):focus {
    outline: none;
    border-color: var(--highlight);
}

.btn, input[type="submit"] {
    display: inline-block;
    background-color: var(--button);
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: .5em 1em;
}

.btn:hover, input[type="submit"]:hover {
    background-color: var(--border);
    border-color: var(--border-hover);
}


form > div {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'label input';
}

form > div > label {
    display: block;
    grid-area: label;
    background-color: var(--button);
    border: 1px solid var(--border);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: .5em 1em;
    text-align: center;
    color: var(--text-1);
    font-size: 1rem;
}

form > div > input:not(input[type="submit"]) {
    display: block;
    grid-area: input;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1rem;
    height: 100%;
}

.success {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}

.success:hover {
    background-color: var(--success-hover) !important;
    border-color: var(--success-hover) !important;
}

.top {
    grid-area: top;
    display: flex;
    flex-direction: row;
    background-color: var(--nav);
    height: 4rem;
}

.top > .logo {
    display: block;
    flex-basis: 20%;
    text-align: center;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.top > .logo::-webkit-scrollbar {
    display: none;
}

.top > .user {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top > .logo > a {
    height: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-1);
    font-weight: bold;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.top > .logo > a > img {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.top > .user > a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    color: var(--text-1);
    font-weight: bold;
}

.top > .user > a:hover {
    color: var(--text-3);
}

.top > .head {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.top > .head > a {
    color: var(--highlight);
}

.top > .head > a:hover {
    text-decoration: underline;
}

.top > .head::-webkit-scrollbar {
    display: none;
}

.left {
    grid-area: left;
    border-right: 1px solid var(--border);
    background-color: var(--bg);
}

.right {
    grid-area: right;
    border-left: 1px solid var(--border);
    background-color: var(--bg);
}

.left > ul, .right > ul {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left > ul::-webkit-scrollbar, .right > ul::-webkit-scrollbar {
    display: none;
}

.right > ul > li, .left > ul > li {
    list-style: none;
}

.left > ul > li, .right > ul > li {
    display: block;
}

.left > ul > li > a, .right > ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-1);
}

.left > ul > li > a:hover, .right > ul > li > a:hover {
    color: var(--text-3);
}

main {
    grid-area: main;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1.5rem;
    background-color: var(--bg);
}

main::-webkit-scrollbar {
    display: none;
}

main > div.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

main > form {
    width: 60%;
    margin: 2rem auto;
}

main > form > div {
    width: 100%;
    margin-bottom: 2rem;
}

main > form > input[type="submit"] {
    display: block;
    margin: 0 auto;
}

main > form ~ div > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--highlight);
}

main > form ~ div > a:hover {
    text-decoration: underline;
}

main > p {
    text-align: center;
    color: var(--text-2);
}