{% extends 'base.html' %}

{% block title %}{{project.owner}}/{{project.name}}{% endblock title%}

{% block top %}<a href="{% url 'core:user-details' project.owner.username %}">{{project.owner}}</a>/<a href="{% url 'core:project-details' project.owner.username project.name %}">{{project.name}}</a>{% endblock top %}

{% block content %}
  <p>{{ project.description }}</p>
  <p><span>Status:</span> {{ project.get_status_display }}</p>
  <p><span>Created:</span> {{ project.creation_date }}</p>
  {% if project.closing_date %}
    <p><span>Closing:</span> {{ project.closing_date }}</p>
  {% endif %}
  <div class = "section">Roles:</div>
  <ul>
  {% for role in project.roles.all %}
    <li>
      <a href="{% url 'core:role-details' project.owner.username project.name role.name %}">{{ role.name }}</a>
      {% if role.project.owner == request.user %}
        <a href="{% url 'core:role-edit' project.owner.username project.name role.name %}">Edit</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <div class = "section">Collaborators:</div>
  <ul>
  {% for collaborator in project.collaborators %}
    <li><a href="{% url 'core:user-details' collaborator.username %}">{{ collaborator.username }}</a></li>
  {% empty %}
    <li>No collaborators</li>
  {% endfor %}
  </ul>
{% endblock content %}

{% block right %}
  {% if request.user == project.owner %}
  <li><a href="{% url 'core:project-edit' project.owner.username project.name %}">Edit Project</a></li>
  <li><a href="{% url 'core:role-new' project.owner.username project.name %}">Create Role</a></li>
  <li><a href="{% url 'core:task-new' project.owner.username project.name %}">Create Task</a></li>
  {% endif %}
  {% if request.user.is_authenticated %}
  <li><a href="{% url 'core:project-new' %}">Create Project</a></li>
  {% endif %}
{% endblock right %}