{% extends "base.html" %}

{% block title %}{{ role.name }}@{{ role.project.owner.username }}/{{ role.project.name }}{% endblock %}

{% block top %}<a href="{% url 'core:role-details' role.project.owner.username role.project.name role.name %}">{{ role.name }}</a>@<a href="{% url 'core:user-details' role.project.owner.username %}">{{ role.project.owner }}</a>/<a href="{% url 'core:project-details' role.project.owner.username role.project.name %}">{{ role.project.name }}</a>{% endblock top %}

{% block content %}
  <p>{{ role.description }}</p>

  <div class = "section">Collaborators</div>
  <ul>
    {% for collaborator in role.active_collaborators %}
      <li>
        <a href="{% url 'core:user-details' collaborator.username %}">{{ collaborator.username }}</a>
        {% if request.user == role.project.owner %}
        <a class = "action dng" href="{% url 'core:role-dismiss' role.project.owner.username role.project.name role.name collaborator.username %}">Dismiss</a>
        {% endif %}
      </li>
    {% empty %}
      <li>No collaborators</li>
    {% endfor %}
  </ul>
{% endblock %}
  
{% block right %}
  {% if request.user == role.project.owner %}
  <li><a href="{% url 'core:role-edit' role.project.owner.username role.project.name role.name %}">Edit Role</a></li>
  <li><a href="{% url 'core:role-new' role.project.owner.username role.project.name %}">Create Role</a></li>
  <li><span></span></li>
  <li><a href="{% url 'core:request-new' role.project.owner.username role.project.name role.name %}">Invite</a></li>
  {% else %}
    {% if request.user.is_authenticated%}
    <li><a href="{% url 'core:request-new' role.project.owner.username role.project.name role.name %}">Join</a></li>
    {% endif %}
  {% endif %}
{% endblock right %}