{% extends 'base.html' %}

{% block title %}Tasks{% endblock title %}

{% block top %}Tasks{% endblock top %}

{% block content %}
  <ul>
  {% for task in tasks %}
    <li>
      <a href="{% url 'core:task-details' task.project.owner.username task.project.name task.name %}">{{ task.name }}@{{ task.project.owner }}/{{ task.project.name }}</a>
      {% if task not in user.tasks.all and request.user in task.project.collaborators %}
        <a class = "action scs" href="{% url 'core:task-join' task.project.owner.username task.project.name task.name %}">Join</a>
      {% else %}
        {% if task.project.owner == request.user %}
          <a class = "action wrn" href="{% url 'core:task-edit' task.project.owner.username task.project.name task.name %}">Edit</a>
        {% endif %}
      {% endif %}
    </li>
  {% empty %}
    <li>No tasks</li>
  {% endfor %}
  </ul>
{% endblock content %}

