{% extends 'base.html' %}

{% block title %}{{task.name}}@{{task.project.owner}}/{{task.project.name}}{% endblock title %}

{% block top %}<a href="{% url 'core:task-details' task.project.owner.username task.project.name task.name %}">{{task.name}}</a>@<a href="{% url 'core:user-details' task.project.owner.username %}">{{task.project.owner}}</a>/<a href="{% url 'core:project-details' task.project.owner.username task.project.name %}">{{task.project.name}}</a>{% endblock top %}

{% block content %}
  <p>{{ task.description }}</p>
  <p><span>Priority:</span> {{ task.priority }}</p>
  <p><span>Visibility:</span> {{ task.get_visibility_display }}</p>
  <p><span>Status:</span> {{ task.get_status_display }}</p>
  <p><span>Creation Date:</span> {{ task.creation_date }}</p>
  <p><span>Start Date:</span> {% if task.start_date %}{{ task.start_date }}{% else %}-{% endif %}</p>
  <p><span>Request Date:</span> {% if task.request_date %}{{ task.request_date }}{% else %}-{% endif %}</p>
  <p><span>End Date:</span> {% if task.end_date %}{{ task.end_date }}{% else %}-{% endif %}</p>
  <div class = "section">Roles:</div>
  <ul>
    {% for role in task.roles.all %}
      <li>
        <a href="{% url 'core:role-details' task.project.owner.username task.project.name role.name %}">{{ role.name }}</a>
        {% if role.project.owner == request.user %}
          <a href="{% url 'core:role-edit' task.project.owner.username task.project.name role.name %}">Edit</a>
        {% endif %}
      </li>
    {% empty %}
      <li>No roles assigned</li>
    {% endfor %}
  </ul>
  <div class = "section">Collaborators:</div>
  <ul>
    {% for collaborator in collaborators %}
      <li>
        <a href="{% url 'core:user-details' collaborator.username %}">{{ collaborator.username }}</a>
      </li>
    {% empty %}
      <li>No collaborators</li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block right %}
  {% if request.user == task.project.owner %}
  <li><a href="{% url 'core:task-edit' task.project.owner.username task.project.name task.name %}">Edit Task</a></li>
  <li><a href="{% url 'core:task-new' task.project.owner.username task.project.name %}">Create Task</a></li>
    {% if task.status == task.TO_APPROVE %}
      <li><span></span></li>
      <li><a href="{% url 'core:task-approve' task.project.owner.username task.project.name task.name %}">Approve</a></li>
      <li><a href="{% url 'core:task-reject' task.project.owner.username task.project.name task.name %}">Reject</a></li>
    {% endif %}
  {% endif %}
  {% if request.user in task.collaborators.all %}
    {% if task.status == task.ASSIGNED %}
    <li><a href="{% url 'core:task-start' task.project.owner.username task.project.name task.name %}">Start</a></li>
    {% endif %}
    {% if task.status == task.STARTED %}
    <li><a href="{% url 'core:task-end' task.project.owner.username task.project.name task.name %}">End</a></li>
    {% endif %}
    {% if request.user in collaborators and task.status != task.TERMINATED %}
    <li><a href="{% url 'core:task-leave' task.project.owner.username task.project.name task.name %}">Leave</a></li>
    {% endif %}
  {% else %}
    {% if request.user in task.project.collaborators and competence %}
      <li><a href="{% url 'core:task-join' task.project.owner.username task.project.name task.name %}">Join</a></li>
    {% endif %}
  {% endif %}

{% endblock right %}