{% extends 'base.html' %}

{% block title %}{{task.name}}@{{task.project.owner}}/{{task.project.name}}{% endblock title %}

{% block top %}<a href="">{{task.name}}</a>@<a href="#">{{task.project.owner}}</a>/<a href="{% url 'core:project-details' task.project.owner task.project.name %}">{{task.project.name}}</a>{% endblock top %}

{% block content %}
  <p>{{ task.description }}</p>
  <p>Priority: {{ task.priority }}</p>
  <p>Visibility: {{ task.get_visibility_display }}</p>
  <p>Status: {{ task.get_status_display }}</p>
  <p>Creation Date: {{ task.creation_date }}</p>
  {% if task.start_date %}
    <p>Start Date: {{ task.start_date }}</p>
  {% else %}
    <p>No start date assigned</p>
  {% endif %}
  {% if task.request_date %}
    <p>Request Date: {{ task.request_date }}</p>
  {% else %}
    <p>No request date assigned</p>
  {% endif %}
  {% if task.end_date %}
    <p>End Date: {{ task.end_date }}</p>
  {% else %}
    <p>No end date assigned</p>
  {% endif %}
  <p>Roles:</p>
  <ul>
    {% for role in task.roles.all %}
      <li>{{ role.name }}</li>
    {% empty %}
      <li>No roles assigned</li>
    {% endfor %}
  </ul>
  <ul>
    {% for collaborator in project.collaborators %}
      <li>{{ collaborator.username }}</li>
    {% endfor %}
  </ul>
{% endblock content %}
