{% extends 'base.html' %}

{% block content %}
  <h1>{{ task.name }}@{{ task.project.owner }}/{{ task.project.name }}</h1>
  <p>{{ task.description }}</p>
  <p>Visibility: {{ task.get_visibility_display }}</p>
  <p>Status: {{ task.get_status_display }}</p>
  <p>Creation Date: {{ task.creation_date }}</p>
  <p>Roles:</p>
  <ul>
    {% for role in task.roles.all %}
      <li>{{ role.name }}</li>
    {% empty %}
      <li>No roles assigned</li>
    {% endfor %}
  </ul>
  {% if task.collaborator %}
    <p>Collaborator: {{ task.collaborator }}</p>
  {% else %}
    <p>No collaborator assigned</p>
  {% endif %}
  {% if task.start_date %}
    <p>Start Date: {{ task.start_date }}</p>
  {% else %}
    <p>No start date assigned</p>
  {% endif %}
  {% if task.request_date %}
    <p>Request Date: {{ task.request_date }}</p>
  {% else %}
    <p>No request date assigned</p>
  {% endif %}
  {% if task.end_date %}
    <p>End Date: {{ task.end_date }}</p>
  {% else %}
    <p>No end date assigned</p>
  {% endif %}
{% endblock content %}
