{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock title %}

{% block top %}{{ user.username }}{% endblock top %}

{% block content %}
  <p><span>Email:</span> {{ user.email }}</p>

  {% if request.user != user %}
  <div class = "section">Collaborations</div>
  <ul>
    {% for role in user.roles.all %}
      <li>
        <a href="{% url 'core:role-details' role.project.owner.username role.project.name role.name %}">{{ role.name }}</a>@<a href="{% url 'core:user-details' role.project.owner.username %}">{{ role.project.owner.username }}</a>/<a href="{% url 'core:project-details' role.project.owner.username role.project.name %}">{{ role.project.name }}</a></li>
    {% empty %}
      <li>No roles</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}

{% block right %}
  {% if user == request.user %}
  <li><a class ="wrn" href="{% url 'password_change' %}">Change Password</a></li>
  <li><a class = "dng" href="{% url 'logout' %}">Logout</a></li>
  <li><span></span></li>
  <li><a class = "scs" href="{% url 'core:project-new' %}">Create Project</a></li>
  {% endif %}
{% endblock right %}
