{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Task Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block meta %}{% endblock %}
  </head>
  <body>
    <nav class = "top">
      <div class = "logo"><a href="{% url 'home' %}"><img src="{% static 'media/logo.png' %}" alt="LOGO"><span>Task Management System</span></a></div>
      <ul>
        {% block top %}
        {% endblock %}
      </ul>
      <div class = "user">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">SignUp</a>
        {% else %}
        <a href="">{{user.username}}</a>
        {% endif %}
      </div>
    </nav>
    <nav class = "left">
      <ul>
        {% block left %}
        {% endblock %}
      </ul>
    </nav>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <nav class = "right">
      <ul>
        {% block right %}
        {% endblock %}
      </ul>
    </nav>
  </body>
</html>
